.i-underline-animation--txt {
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), #fd7135 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    -webkit-transition: background-size 1s;
    -moz-transition: background-size 1s;
    -ms-transition: background-size 1s;
    -o-transition: background-size 1s;
    transition: background-size 1s;
}

.i-card:hover .i-underline-animation--txt,
.i-underline-animation--txt:hover {
    background-size: 100% 100%;
}

.chevron {
    position: absolute;
    width: 1.5rem;
    height: 0.48rem;
    opacity: 0;
    -webkit-animation: movechevron 3s ease-out infinite;
    animation: movechevron 3s ease-out infinite;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.chevron:first-child {
    -webkit-animation: movechevron 3s ease-out 1s infinite;
    animation: movechevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    -webkit-animation: movechevron 3s ease-out 2s infinite;
    animation: movechevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #007cff;
}

.chevron:before {
    left: 0;
    -webkit-transform: skewY(30deg);
    -moz-transform: skewY(30deg);
    -ms-transform: skewY(30deg);
    -o-transform: skewY(30deg);
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@-webkit-keyframes movechevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        -webkit-transform: translateY(2.28rem);
        -moz-transform: translateY(2.28rem);
        -ms-transform: translateY(2.28rem);
        -o-transform: translateY(2.28rem);
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        -webkit-transform: translateY(3.12rem);
        -moz-transform: translateY(3.12rem);
        -ms-transform: translateY(3.12rem);
        -o-transform: translateY(3.12rem);
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(4.8rem) scale(0.5);
        -moz-transform: translateY(4.8rem) scale(0.5);
        -ms-transform: translateY(4.8rem) scale(0.5);
        -o-transform: translateY(4.8rem) scale(0.5);
        transform: translateY(4.8rem) scale(0.5);
    }
}

@keyframes movechevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}

.spinner .path {
    stroke: #fd7135;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
