@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    // html,
    // body {
    //     @apply font-;
    // }

    html {
        scroll-behavior: smooth;
        @apply text-blue;
    }

    h1,
    h2,
    h3 {
        @apply font-sans font-bold;
    }
    h1 {
        letter-spacing: -1.5px;
        @apply font-black;
    }
    h2 {
        @apply text-2xl sm:text-2xl;
        line-height: 1.2 !important;
        letter-spacing: -1.5px;
    }
    h3 {
        line-height: 1.4 !important;
        letter-spacing: -0.7px;
    }

    a {
        @apply font-medium;
    }
}

.i-wrapper {
    @apply flex justify-center;
}
.i-container {
    @apply w-full max-w-5xl px-4 sm:px-8;
    &__lg {
        @apply w-full max-w-7xl;
    }
}

.i-btn {
    display: inline-block;
    @apply px-6 py-2 rounded-full font-semibold;
    &__primary {
        @apply bg-primary text-white;
    }
    &__blue_1 {
        @apply bg-blue_1 text-white;
    }
    &__blue {
        @apply bg-blue text-white;
    }
}

input:focus,
textarea:focus {
    outline: none;
}

footer,
nav {
    .router-link-active.router-link-exact-active {
        @apply text-primary font-bold;
    }
}

.scroll {
    width: 50px;
    height: 50px;
    border: 2px solid #000061;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}
.scroll::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    width: 12px;
    height: 12px;
    border-left: 3px solid #000061;
    border-bottom: 3px solid #000061;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}
@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@keyframes scroll {
    0% {
        height: 40px;
    }
    30% {
        height: 70px;
    }
    60% {
        height: 40px;
    }
}
@-webkit-keyframes scroll {
    0% {
        height: 40px;
    }
    30% {
        height: 70px;
    }
    60% {
        height: 40px;
    }
}

@import url(/assets/others/loaders.scss);
